.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    background-size: cover;
    height: 100vh;
  }
.Dashboard {
    background-color: bisque;
    height: 150vh;
    padding: 50px;
  }
  
  .App .form{
    width: 400px;
    height: 100vh;
  }

  .form{
    margin-top: 50px;
  }